@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-width: 420px;
    margin: 0;
    box-sizing: border-box !important;
    height: fit-content;
}

body > div:first-child {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 600px;
}
